body{
	text-align: center;
	background-image: url(/crm5/image/backgroundimage.jpg);
	font-family: "幼圆";
}

#container {
	text-align: center;
}

h1{
	text-align: center;
}
h3{
	text-align: center;
}

span.ip,span.time {
	color: red;
}

p.test {
	color: red;
	font-size: 20px;
}

table {
	border-collapse: collapse;
	border-style: dotted;
	border-width: 5px;
	border-color: pink;
}

table.register {
	margin: auto;
	text-align: center;
}

table.registerConfirm {
	margin: auto;
	text-align: center;
	width: 500px;
}

table.registerConfirm th {
	background-color: pink;
	color: white;
	width: 100px;
}

table.register textarea {
	width: 450px;
	height: 100px;
}

th,td {
	padding: 3px 1px;
}

table.register th {
	background-color: pink;
	color: white;
	width: 100px;
}

table.login {
	margin: auto;
}

table.login th {
	background-color: pink;
	color: white;
	width: 100px;
}

p {
	text-align: center;
}

p.body {
	text-align: center;
	margin: auto;
	line-height: 400px;
	border: 1px solid #000000;
}

input, select {
	border-radius:5px;
	border: 2px solid pink;
	
}

input.select{
	background-color: pink;
}